@charset "UTF-8";
/* variable pour la grille */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font-size: 16px;

 
} 

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: underline;
  font-style: italic; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/**********************FRAMEWORK********************************/
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold;
  font-family: "Brush Script MT",cursive,Geneva,Tahoma,Verdana,sans-serif; }

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small, .sub {
  /*****il manque la question avec la classe du m├¬me effet****/
  font-size: 80%;
  color: grey; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 15px; }

h6 {
  font-size: 10px; }

p {
  /**heritage du body a definir**/
  margin-bottom: 40px; }

ins, u {
  text-decoration: underline; }

abbr {
  font-weight: bold; }

strong {
  font-weight: bold; }

del {
  text-decoration: line-through; }

mark {
  background-color: yellow; }

blockquote {
  font-style: italic;
  margin-bottom: 30px; }
  blockquote:before, blockquote:after {
    content: '"';
    font-size: 350%;
    font-style: italic; }

code {
  background-color: #afd0d6;
  padding: 30px;
  opacity: 0.8; }

pre {
  padding: 10px;
  background-color: grey;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 10px; }

kbd {
  background-color: black;
  color: yellow;
  padding: 10px;
  margin: 10px;
  border-radius: 10px; }

/***marche pas **/
ul {
  list-style: upper-roman; }
  ul.square {
    list-style: square; }
  ul.noDecoration {
    list-style: none; }

/**************/
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.justify {
  text-align: justify; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

.btn {
  text-align: center;
  width: 150px;
  border-radius: 5px;
  background-color: #3b93db;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  display: inline-block;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 30px;
  text-shadow: 1px 1px 1px black; }
  .btn:hover {
    opacity: 0.8; }
  .btn:active {
    background-color: #1b6489; }
  .btn > a {
    text-decoration: none;
    color: white; }

.btn-lg {
  width: 230px;
  font-size: 120%;
  padding: 10px; }

.btn-sm {
  width: 120px;
  font-size: 72%; }

.btn-blue {
  background-color: #3b93db; }

.btn-error {
  background-color: #d33737; }

.btn-success {
  background-color: #13ad25; }

.btn-warning {
  background-color: #f2863e; }

.btn-flat {
  border-radius: none;
  border: none;
  text-shadow: none; }

.btn-extra-large {
  width: 100%; }

.btn-fancy {
  background: -webkit-linear-gradient(red, blue);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, blue);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, blue);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, blue);
  /* Standard syntax */ }

.alert {
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  opacity: 0.8;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black; }

.alert-info {
  background-color: #3b93db; }

.alert-error {
  background-color: #d33737; }

.alert-success {
  background-color: #13ad25; }

.alert-warning {
  background-color: #f2863e; }

/**********
*
* CLASSE POUR LES HEADERS
*
*
******************/
.header {
  text-align: center;
  margin-bottom: 25px; }
  .header > h1 {
    text-align: center; }

/****************
*
*  JUMBOTRON HEADING
*
*
******************/
.jumbotron {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #3071a9;
  padding-top: 60px;
  padding-bottom: 60px; }
  .jumbotron > h1 {
    font-size: 45px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.last {
  margin: 0; }

.container {
  width: 100%;
  float: left; }

.header-connexion {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  background-color: #0B0B3B; }
  .header-connexion .connexion {
    float: right;
    padding: 10px; }

.header-menu {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  background-color: #0B0B3B; }

.filtre {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  background-color: #808080;
  padding: 10px; }
  .filtre .retour {
    float: right; }

.contenu-annonce {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  background-color: brown; }
  .contenu-annonce .categorie, .contenu-annonce .annonce-recente {
    width: 53.5%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 1%;
    background-color: blue;
    color: white; }

.span-1 {
  width: 18.625%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-2 {
  width: 30.25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-3 {
  width: 41.875%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-4 {
  width: 53.5%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-5 {
  width: 65.125%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-6 {
  width: 76.75%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-7 {
  width: 88.375%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.span-8 {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%; }

.offset-1 {
  margin-left: 12.625%; }

.offset-2 {
  margin-left: 25.25%; }

.offset-3 {
  margin-left: 37.875%; }

.offset-4 {
  margin-left: 50.5%; }

.offset-5 {
  margin-left: 63.125%; }

.offset-6 {
  margin-left: 75.75%; }

.offset-7 {
  margin-left: 88.375%; }

.offset-8 {
  margin-left: 101%; }

.annonce {
  background-color: #4e5d6c;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  padding: 10px; }
  .annonce img {
    float: left; }
  .annonce .conteneur-annonce {
   
    float: left;
    margin-left: 2%; }
  .annonce h3.prix {
    font-weight: bold;
    color:  #B20000;
    display: inline; }
  .annonce .title {
    width:100%;
    margin-bottom: 10px; }
  .annonce .showAnnonce {
    float: right;
    margin-bottom: 10px; }

.extrait-annonce {
  float: left;
  margin-left: 20px;
  width: 75%;
  position: relative;
  top: 13px; }
  .extrait-annonce p {
    background: #9b9ea0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px; }
  .extrait-annonce p:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 11%;
    width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #9b9ea0; }


.menu li {
  list-style: none;
  background-color: grey;
  float: left;
  padding: 10px;
  border-radius: 0px 100px 0px 0px;
  -moz-border-radius: 0px 100px 0px 0px;
  -webkit-border-radius: 0px 100px 0px 0px;
  border: 0px solid #000000; }
  .menu li a {
    text-decoration: none;
    color: black; }

.filtre {
  margin-left: auto;
  margin-right: auto;
}

input[type=text] {
  height: 30px;
  border-radius: 3px;
  text-align: center; }

@media screen and (max-width: 767px) {

  .AffichageOnlyWeb {
    display: none; }


    .petiteImg-detail{
    max-width: 25%; 
  }


}
@media screen and (min-width: 767px) {
  .grosseImg-detail{
    max-width: 500px;
  }

  .petiteImg-detail{
    max-width: 175px; 
  }

  #navigation {
    display: none; }

  .annonce > img {
    max-width: 260px; } }
@media (max-width: 767px) {
  .annonce .conteneur-annonce {
    width:100%;
  }
  .extrait-annonce {
    display: none; }

  .header-connexion .AffichageOnlyWeb {
    display: none; }

  .annonce > img {
    max-width: 100%; }

  .header-menu {
    display: none; }

  [id=navigation] + * {
    position: relative; }

  /* Theming opened nav */
  [id=navigation] ul {
    /* maximum height */
    max-height: 25em;
    /* translate with hardware acceleration */
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: max-height .4s;
    transition: max-height .4s;
    /* global styles */
    margin: 0;
    padding: 0;
    list-style: none; }

  [id=navigation] a {
    display: block;
    padding: 1.2rem;
    color: #333;
    background: #fff;
    text-decoration: none;
    margin-bottom: 2px; }

  [id=navigation] a:hover,
  [id=navigation] a:focus,
  [id=navigation] a:active {
    background: #eee; }

  /* Theming closed nav */
  [id=navigation].is-closed ul {
    max-height: 0;
    overflow: hidden; }

  /* Global styling nav button */
  [id="toggle-nav"] {
    margin-left: 85%;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    height: 3.5rem;
    width: 3.5rem;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(white), to(white)), -webkit-gradient(linear, left top, right top, from(white), to(white)), -webkit-gradient(linear, left top, right top, from(white), to(white));
    background-image: -webkit-linear-gradient(left, white, white), -webkit-linear-gradient(left, white, white), -webkit-linear-gradient(left, white, white);
    background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, white, white);
    background-position: center top, center, center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: 3.5rem .9rem;
    background-size: 3.5rem .9rem;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: .2s;
    transition: .2s; }

  /*  Removing Firefox's dotted outline on button */
  [id="toggle-nav"]::-moz-focus-inner {
    border: 0; }

  /* Theming opened nav button */
  [id=navigation]:not(.is-closed) [id="toggle-nav"] {
    -webkit-transform: rotate(180deg) translateZ(0);
    transform: rotate(180deg) translateZ(0);
    background-position: center, center, center; }

  /* Hide alternate text except from screen readers */
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px; } }
.annonce {
 // background-color: #E6E6E6; }
  .annonce .choixModif {
    float: right;
    width: 360px; }

.contenuMilieu {
  width: 100%; }
  .contenuMilieu label, .contenuMilieu input, .contenuMilieu textarea, .contenuMilieu select {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }
  .contenuMilieu label {
    margin-top: 50px; }
  .contenuMilieu .submitConn {
    margin-bottom: 50px; }

.AffichageOnlyWeb-detail {
 // background-color: #E6E6E6; }

.head-detail {
  //background-color: #E6E6E6; }
  .head-detail .retour-detail {
    width: 100%;
  //  background-color: #E6E6E6;
    float: left;
    margin-top: 30px;
     }
    .head-detail .retour-detail .btn {
      float: right; }

.contenue-annonce-detail {
 // background-color: #E6E6E6;
  float: left;
  height: 100%;
  width: 100%; }
  .contenue-annonce-detail .images-detail {
    float: left;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 1%;
    margin-left: 2%; }
    .contenue-annonce-detail .images-detail .grosseImg-detail {
      width: 76.75%;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-right: 1%; }
    .contenue-annonce-detail .images-detail .petiteImg-detail {
      margin-top: 1%;
      margin-bottom: 1%;
       }
  .contenue-annonce-detail .description-details {
    width: 53.5%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 1%; }
    .contenue-annonce-detail .description-details .descriptionAnnonce-detail {
      padding: 3px;
      border: 1px solid black;
      float: left;
      margin-bottom: 5px; }
    .contenue-annonce-detail .description-details .info-detail {
      margin-top: 10px;
      width: 100%;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-right: 1%; }
      .contenue-annonce-detail .description-details .info-detail .prix-detail {
        margin: 0px;
        font-size: 1.3em;
        font-weight: bold; }
      .contenue-annonce-detail .description-details .info-detail .numTel-detail {
        margin: 0px; }
    .contenue-annonce-detail .description-details .boutons-detail {
      width: 30.25%;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-right: 1%;
      float: right; }
      .contenue-annonce-detail .description-details .boutons-detail .btn {
        margin: 2px; }

/*# sourceMappingURL=style.css.map */

#fade { /*--Masque opaque noir de fond--*/
  display: none; /*--masqué par défaut--*/
  background: #000;
  position: fixed; left: 0; top: 0;
  width: 100%; height: 100%;
  opacity: .80;
  z-index: 9999;
}
.popup_block{
  display: none; /*--masqué par défaut--*/
  background: #fff;
  padding: 20px;
  border: 20px solid #ddd;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%; left: 50%;
  z-index: 99999;
  /*--Les différentes définitions de Box Shadow en CSS3--*/
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  /*--Coins arrondis en CSS3--*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
img.btn_close {
  float: right;
  margin: -55px -55px 0 0;
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}

input[type="file"] {
    display: block;
    color: yellow;
}
.nomBonjour{
  margin-right: 10px;
  margin-top: 20px;
}

