.alert{
    
    border-radius: 5px;
    padding: 15px;
    
    margin: 15px;
    opacity: 0.8;
    text-align: center;
     color:white;
      text-shadow: 1px 1px 1px black;

}

.alert-info{
    background-color: $color-info;


}

.alert-error{
    background-color: $color-error;
}

.alert-success{
    background-color: $color-success ;

}

.alert-warning{
     background-color: $color-warning ;

}