

$width-large: 230px ;
$width-small: 120px ;

.btn{
    text-align: center;
    width: 150px;
   
    border-radius: 5px;
    background-color: $color-info;
    text-decoration: none;
    color:white;
    font-weight: bold;
    cursor:pointer;
    border: 1px solid black;
    display: inline-block;
    padding: 4px 12px;
    
    font-size: 14px;
    line-height: 30px;
    text-shadow: 1px 1px 1px black;

    &:hover{
        opacity: 0.8;
    }
    &:active{

        background-color: #1b6489;
    }

    &>a{
        text-decoration: none;
        color:white;

    }


}




.btn-lg{

    width: $width-large;
    font-size: 120%;
    padding: 10px; 


}


.btn-sm{
    width: $width-small;
    font-size: 72%;

}

.btn-blue{
    background-color: $color-info;
}



.btn-error{

    background-color: $color-error;

}

.btn-success{
    background-color: $color-success;
}

.btn-warning{
    background-color: $color-warning ;
}

.btn-flat{
    border-radius: none;
    border: none;
    text-shadow: none;

}

.btn-extra-large{
    width: 100%;
}

.btn-fancy{
  background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, blue); /* Standard syntax */
}

