
/**********
*
* CLASSE POUR LES HEADERS
*
*
******************/

.header{
text-align: center;

margin-bottom: 25px; 

	&>h1{
		text-align: center;
	}
}




/****************
*
*  JUMBOTRON HEADING
*
*
******************/

.jumbotron{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #3071a9;
    padding-top:60px;
    padding-bottom: 60px;

    &>h1{
    	font-size: 45px;
    }
}

