.contenuMilieu{
	width:100%;
	label, input, textarea,select{
		display: block;
		width:30%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;

	}
	label{
		margin-top: 50px;
	}

	.submitConn{
		margin-bottom: 50px;
	}
}