
$nombreGoulotteTotal:$nombre_colonne - 1;
$width_total: 100% - ($nombreGoulotteTotal*$largeurGoulotte);




@mixin span($nombre){

	
	width: ($width_total/$nombre_colonne)*($nombre)+($nombreGoulotteTotal*$largeurGoulotte);
	float:left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-right: $largeurGoulotte;


}

@mixin offset($nombre){

	margin-left: ($nombre*$width_total/$nombre_colonne)+$nombre * $largeurGoulotte	

}
//créer mixine pour gris_content et row
//programme sass à la main sass-script






.clearfix:before,.clearfix:after {
	content: "";
	display: table;
  

}

.clearfix:after{
	clear:both;
}

.clearfix{
	zoom:1;
}

.last{
	margin: 0;
}


.container{
	width:100%;
	float:left
}


.header-connexion{
	@include span(8);
	background-color: #0B0B3B;


	.connexion{
		float:right;
		padding: 10px;
	}
}

.header-menu{
	@include span(8);
	background-color: #0B0B3B;
}

.filtre{
	@include span(8);
	background-color:#808080;
	padding: 10px;

	.retour {
		float:right;
	}
}

.contenu-annonce{
	@include span(8);
	background-color: brown;

	.categorie, .annonce-recente{
		@include span(4);
		background-color: blue;
		color:white;
	}


}






@for $i from 1 through $nombre_colonne{

	.span-#{$i}{
  	@include span($i);
  }
 
}

@for $i from 1 through $nombre_colonne{
  
 .offset-#{$i}{
  	@include offset($i);
  }
}