<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Le racoin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>


    <script type="text/javascript" src="/js/zoombox.js"></script>
    <script type="text/javascript" src="/js/bootstrap-slider.js"></script>
    <link href="/css/zoombox.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">

     <link href="/css/slider.css" rel="stylesheet" type="text/css" media="screen" />

    <script type="text/javascript">
        jQuery(function($){
            $('a.zoombox').zoombox();

            /**
            * Or You can also use specific options
            $('a.zoombox').zoombox({
                theme       : 'zoombox',        //available themes : zoombox,lightbox, prettyphoto, darkprettyphoto, simple
                opacity     : 0.8,              // Black overlay opacity
                duration    : 800,              // Animation duration
                animation   : true,             // Do we have to animate the box ?
                width       : 600,              // Default width
                height      : 400,              // Default height
                gallery     : true,             // Allow gallery thumb view
                autoplay : false                // Autoplay for video
            });
            */
        });
    </script>



</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Racoin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Rechercher</a></li>
            <li><a href="/annonces/new">Déposer une annonce</a></li>
            <li><a href="/annonces/mesAnnonces">Gérer mes annonces</a></li>
			
			{% if  session.user.role_id == 2 %}
			<li><a href="/admin/gestionuser">Gestion des utilisateur</a></li>
			<li><a href="/admin/gestioncate">Gestiion des catégorie</a></li>
			<li><a href="/admin/viewannonce">Gestion Admin</a></li>
			{% endif %}
			
			
          </ul>
		  
		  {% if  session.user %}
		  <ul class=" navbar-nav" style="float:right">
              <li><p><a href="/user/profil" style="color:black" class="nomBonjour"> Salut {{session.user.login}} </a></p></li>
              <li><a href="/user/logout"><button type="button" class="btn btn-default">Deconnexion</button></a></li>
			</ul>
			
		  {% else %}
			<ul class=" navbar-nav" style="float:right">
              <li><a href="/user/connection"><button type="button" class="btn btn-success">Se connecter</button></a></li>
              <li><a href="/user/inscription"><button type="button" class="btn btn-default">S'inscrire</button></a></li>
			</ul>
		  {% endif %}



        </div><!--/.nav-collapse -->

      </div>
    </nav>

    <span class="cont">
        


         {% block main_content %}
 

        {% endblock %}

    </span>
    


<script>
    var n = document.getElementById('navigation');
    n.classList.add('is-closed');
    function navi() {
        if (window.innerWidth<768 && document.getElementById("toggle-nav")==undefined) {            
            n.insertAdjacentHTML('afterBegin','<button id="toggle-nav"><i class="visually-hidden">Déplier/replier le menu</i></button>');
            t = document.getElementById('toggle-nav');  
            t.onclick=function(){ n.classList.toggle('is-closed');}
        } 
        if (window.innerWidth>=768 && document.getElementById("toggle-nav")) {
            document.getElementById("toggle-nav").outerHTML="";
        }
    }
    navi();
    window.addEventListener('resize', navi);
</script>

<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js"></script>


    
</body>
</html>
