{% extends "main.html.twig" %}

{% block main_content %}
<span class="filtre last">
	<h1 class="AffichageOnlyWeb">Gestion des catégorie</h1>
	<span class="retour">
		<span class="btn btn-sm btn-blue"><a href="">Précédent </a></span>
	</span>
</span>

<div class="alert"><ul>{% autoescape false %}{{ erreur}}{% endautoescape %}</ul></div>

<p class="bg-success">{{message_gestion_cate_succes}}</p>
<p class="bg-danger">{{message_gestion_cate_error}}</p>

<form action="/admin/gestioncate/add" method="POST" role="form">
	<span class="contenu last">
		<span class="contenuMilieu">
		
			<label>Categories</label>
			<select name="cate" onchange="change(this.options[this.selectedIndex].text, this.options[this.selectedIndex].value)">
				<option value="0">Nouvelle catégories</option>
			{% for cate in cates %}
				<option value="{{cate.id}}" {% if  selected == cate.id %} selected {% endif %}> {{cate.libelle_categorie}} </option>
			{% endfor %}
			</select>
			<label>Libelle</label>
			<input type="text" name="libelle" id="prev" value="{{libelle}}"/>

			<input type="submit" class="btn btn-success submitConn" value="Valider" />
		</span>
	</span>
	
	<input type="hidden" name="csrf_token" value="{{csrftoken}}" />
</form>

<form action="/admin/gestioncate/supp" method="POST" role="form">
	<span class="contenu last">
		<span class="contenuMilieu">
			<input type="submit" class="btn btn-danger submitConn" value="Supprimer" id="btn-sup"   {% if  selected == 0 %} disabled {% endif %}/>	
			
			<input type="hidden" name="numero_suppresion" id="id_sup" value="{{selected}}">
		</span>
	</span>
	<input type="hidden" name="csrf_token" value="{{csrftoken}}" />
</form>


<script type="text/javascript">
	function change(evt, index) {
		if (evt === 'Nouvelle catégories') {
			document.getElementById('prev').value = "";
			document.getElementById('id_sup').value = index;
			document.getElementById('btn-sup').disabled = true;
		} else {
			document.getElementById('prev').value = evt;
			document.getElementById('id_sup').value = index;
			document.getElementById('btn-sup').disabled = false;
		}
	}
</script>


{% endblock %}