{% extends "main.html.twig" %}

{% block main_content %}
<span class="filtre last">
	<h1 class="AffichageOnlyWeb">Gestion des utilisateurs</h1>
	<span class="retour">
		<span class="btn btn-sm btn-blue"><a href="">Précédent </a></span>
	</span>
</span>

<div class="alert"><ul>{% autoescape false %}{{ erreur}}{% endautoescape %}</ul></div>

<p class="bg-success">{{succes}}</p>

<hr></br>
<div style="text-align: center; margin: auto;">
    {% if listUser %}
        <div style="margin: auto;">

            </br><hr></br>

            <button class="btn btn-primary" type="button"> Liste users <span class="badge">{{nbUser}}</span>
            </button>
            </br></br>

            {% for user in listUser %}

                <a href="/user/profil/{{user.id}}"> {{user.login}} | {{user.email}}</a>  ....... Dernière connexion : <span class="badge"> 
                {{user.last_log}} </span></br></br>

            {% endfor %}
        </div>

    {% endif %}
</div>
<hr></br>

<form action="" method="POST" role="form">
	<span class="contenu last">
		<span class="contenuMilieu">
			<label>nom</label>
			<input type="text" name="nom" value="{{donnee.nom}}" required />
			<label>prenom </label>
			<input type="text" name="prenom"  value="{{donnee.prenom}}" required />
			<label>login </label>
			<input type="text" name="login" value="{{donnee.login}}" required />
			<label>mot de passe</label>
			<input type="password" name="pwd" required />
			<label>téléphone</label>
			<input type="text" name="telephone" value="{{donnee.telephone}}" required />
			<label>adresse email</label>
			<input type="text" name="email" value="{{donnee.email}}" required />
            <label>région</label>
            <select name="region" >
                 <option value="0">Selectionner votre région</option>
                 {% for region in regions %}
                    <option value="{{region.id}}" {% if donnee.region_id == region.id %}selected{% endif %}>{{region.libelle_region}}</option>
                 {% endfor %}
            </select>
            <label>Catégorie préférée</label>
            <select name="categorie_prefere" required>
                <option value="0">Séléctionner une catégorie préférée</option>
                {% for categorie in categories %}
                    <option value="{{categorie.id}}" {% if donnee.categorie_prefere == categorie.id %}selected{% endif %}>{{categorie.libelle_categorie}}</option>
                {% endfor %}
            </select>
			
			<label>Roles de l'utilisateur</label>
			<select name="role" >
			
			{% for role in roles %}
				<option value="{{role.id}}" > {{role.libelle_role}} </option>
			{% endfor %}
			
			</select>
			<input type="submit" class="btn btn-success submitConn" value="S'inscrire" />
			<input type="hidden" name="csrf_token" value="{{csrftoken}}" />
		</span>
	</span>
</form>
{% endblock %}