{% extends "main.html.twig" %}

{% block main_content %}
<span class="filtre last">
	<h1 class="AffichageOnlyWeb">Les derniere annonces</h1>
	<span class="retour">
		<span class="btn btn-sm btn-blue"><a href="">Précédent </a></span>
	</span>
</span>

<div class="alert"><ul>{% autoescape false %}{{ erreur}}{% endautoescape %}</ul></div>
	
<p class="btn-success">{{succes}}</p>
<p class="btn-danger">{{error}}</p>
<p class="btn-info">{{noAnnce}}</p>


<span class="contenu-annonce last">
	  
      {% for annonce in annonces %}
          
        <span class="annonce">
                <img src="/{{annonce.url_photo}}" />
                <span class="conteneur-annonce">
                    <h3 class="title title-nom">{{annonce.titre}}</h3>
                    <p class="title title-categorie">{{annonce.libelle_categorie}}</p>
                    <p class="title title-region">{{annonce.libelle_region}}</p>
                    <p class="title title-date">{{annonce.date}}</p>
                    <p class="prix">{{annonce.prix}}€</p>

                </span>
               
                <span class="choixModif">
                   <a class="btn btn-success" href="/annonces/{{annonce.annonce_id}}"> Voir l'annonce</a>
                   <a class="btn btn-blue" href="/annonces/edit/{{annonce.annonce_id}}"> Modifier l'annonce</a>
                   <a class="btn btn-danger" href="#" onClick="javascript:if(confirm('Voulez vraiment supprimer cette annonce ?'))window.open('/admin/viewannonce/delete/{{annonce.annonce_id}}','_self')"> supprimer l'annonce</a>                  
                </span>
            </span>
          
  

    {% endfor %}
            
</span>


{% endblock %}