{% extends "main.html.twig" %}

{% block main_content %}
<span class="filtre last">
            <h1 class="AffichageOnlyWeb">Mes annonces</h1>
            <span class="retour">
                <span class="btn btn-sm btn-blue"><a href="index.html">Précédent </a></span>
            </span>
        </span>

Ok admin powa

<br><br><br><br>

{% endblock %}