{% extends "main.html.twig" %}

{% block main_content %}

{% if error %}
    <p><span style="display: inline-block; text-align: center;" class="alert alert-danger">{{error}}</span></p>
	</br>
{% endif %}

{% if noConnect %}
    <p>{{noConnect}}</p>
	</br>
{% endif %}

<form method="POST" action="/user/connection" style="text-align: center;margin-top: 120px;">
	<label>Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input name="users_login" type="text" value="{{login}}"/>
	</br>
	</br>

	<label>Password&nbsp;&nbsp;&nbsp;</label><input name="users_passorwd" type="password"/>
	</br></br>
	<input type="submit" value="Connexion">
	
	<input type="hidden" name="csrf_token" value="{{csrftoken}}" />
</form>
	</br>
	</br>
	
	



{% endblock %}