{% extends "main.html.twig" %}

{% block main_content %}

<span class="contenu last">
    <span class="contenuMilieu" style="text-align: center;">
        </br>

        {% if donnee.id %}<h1> Profil </h1>{% else %}<h1> Inscription </h1>{% endif %}

        {% if annonces %}
            <div style="margin: auto;">

                </br><hr></br>

                <button class="btn btn-primary" type="button"> Mes Annonces <span class="badge">{{nbAnn}}</span></button>
                </br></br>

                {% for ann in annonces %}

                    <a href="/annonces/{{ann.id}}"> {{ann.titre}} <span class="badge"> {{ann.date}} </span></a></br></br>

                {% endfor %}
            </div>

        {% endif %}

    	{% if erreur %}<span style="display: inline-block;" class="alert alert-danger"><ul>{% autoescape false %}{{ erreur}}{% endautoescape %}</ul></span>{% endif %}

        <form action="" method="POST" role="form">
            <label>nom</label>
            <input type="text" name="nom" value="{{donnee.nom}}" required />
            <label>prenom </label>
            <input type="text" name="prenom"  value="{{donnee.prenom}}" required />
            <label>login </label>
            <input type="text" name="login" value="{{donnee.login}}" required />
            {% if pasmdp != true %}
                <label>mot de passe</label>
                <input type="password" name="pwd" required />
            {% endif %}
             <label>téléphone</label>
            <input type="text" name="telephone" value="{{donnee.telephone}}" required />
             <label>adresse email</label>
            <input type="text" name="email" value="{{donnee.email}}" required />
             <label>région</label>
             <select name="region" >
                 <option value="0">Selectionner votre région</option>
                 {% for region in region %}
                    <option value="{{region.id}}" {% if donnee.region_id == region.id %}selected{% endif %}>{{region.libelle_region}}</option>
                 {% endfor %}
            </select>
            <label>Catégorie préférée</label>
            <select name="categorie_prefere" required>
                <option value="0">Séléctionner une catégorie préférée</option>
                {% for categorie in categories %}
                    <option value="{{categorie.id}}" {% if donnee.categorie_prefere == categorie.id %}selected{% endif %}>{{categorie.libelle_categorie}}</option>
                {% endfor %}
            </select>
             
            {% if pasmdp != true %}
                <input type="submit" class="btn btn-success submitConn" value="S'inscrire" />
            {% endif %}
            <input type="hidden" name="csrf_token" value="{{csrftoken}}" />    
        </form>

    </span>
</span>



{% endblock %}