{% extends "main.html.twig" %}

{% block main_content %}
<span class="filtre last">
    

    <form class="form-vertical">
  <fieldset>
    
    <div class="form-group">
      <label for="inputEmail" class="col-lg-1 control-label">Mots clés</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="" name="motCle">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-1 control-label">Catégorie</label>
      <div class="col-lg-2">
        <select name="categorie_id">
            <option value="0">Toutes les catégories</option>
        {% for categorie in categories %}
            <option value="{{categorie.id}}">{{categorie.libelle_categorie}}</option>
        
        {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-1 control-label">Région</label>
      <div class="col-lg-2">
        <select name="region_id">
            <option value="0">Toutes les régions</option>
        {% for region in regions %}
            <option value="{{region.id}}">{{region.libelle_region}}</option>
        
        {% endfor %}
        </select>
        
      </div>
    </div>
    <br/>
    
    <div class="form-group">
        <div class="col-lg-4" style="margin-top:20px">
         
          
    interval de prix: <b>€ <input style="width:56px" class="min" name="prixMin" /></b> <input id="ex2" type="text" class="span2" value=""  data-slider-min="0" data-slider-max="50000" data-slider-step="5" data-slider-value="[10,100]"/> <b>€ <input style="width:56px" name="prixMax" class="max" /></b>
    </div>
    

    </div>

    
    
    <div class="form-group">
      <div class="col-lg-2" style="margin-top:10px">
        
        <button type="submit" class="btn btn-primary">Rechercher</button>
      </div>
    </div>
  </fieldset>
</form>


</span>



 
      
       
        

    <span class="contenu-annonce last">

      {{AucuneAnnonce}}
      {% for annonce in data %}
        	
  			<span class="annonce">
                <img src="{{annonce.url_photo}}" />
                <span class="conteneur-annonce clearfix">
                    <h3 class="title title-nom">Titre : {{annonce.titre}} </h3>
                    <p class="title title-categorie">Catégorie : {{annonce.libelle_categorie}}</p>
                    <p class="title title-region">Région : {{annonce.libelle_region}}</p>
                    <p class="title title-date">Date de création : {{annonce.date}}</p>
                    
                </span>
               
                <span class="showAnnonce">
                    <h3 class="prix">{{annonce.prix}}€</h3>
                   <a class="btn btn-success" href="/annonces/{{annonce.annonce_id}}"> Voir l'annonce</a>
                </span>

                <span class="extrait-annonce">
                    <p>
                    
                        {{ annonce.descriptif|length > 250 ? annonce.descriptif|slice(0, 250) ~ '...' : annonce.descriptif  }}

                    </p>                 
				</span>
		</span>
        	
	

		{% endfor %}
        
           

        </span>

 <script>
  $(function() {
    $("#ex2").slider({
      slide: function( event, ui ) {
      
        //$( "input" ).val( "$" + ui.value );
    },



  }

    );

    $("#slider1").slider({
    range: "min",
    value: 1,
    step: 1,
    min: 0,
    max: 50000,
    slide: function( event, ui ) {
        
        $( ".min" ).val( "$" + ui.value );
    }
});


$(".min").change(function () {
    var value = this.value.substring(1);
    console.log(value);
    $("#slider1").slider("value", parseInt(value));
});


});

    
  </script>

{% endblock %}