{% extends "main.html.twig" %}

{% block main_content %}

<span class="filtre last">
  <h1 class="AffichageOnlyWeb">Ajouter une annonce</h1>
  
</span>

<span class="contenu last">
  <div class="contenuMilieu" style="text-align: center;">

  <form enctype="multipart/form-data" action="/annonces/ajoute{% if slim.datas.id %}/{{slim.datas.id}}{% endif %}" method="post"> 

    <label>Titre de l'annonce</label>
    <input type="text" name="titre" value="{{slim.datas.titre}}" required/> 
    {% if slim.erreur.msgvalidTitre %}<span style="display: inline-block;" class="alert alert-danger">{{slim.erreur.msgvalidTitre}}</span>{% endif %}
   
    <label>Descriptif de l'annonce </label>
    <textarea name="descriptif" required>{{slim.datas.descriptif}}</textarea> 
    {% if slim.erreur.msgvalidDescription %}<span style="display: inline-block;" class="alert alert-danger">{{slim.erreur.msgvalidDescription}}</span>{% endif %}
   
    <label>Catégorie </label>
    <select name="categorie" required>
      <option value="0">Tout</option>
      {% for categorie in categories %}
        <option value="{{categorie.id}}" {% if categorie.id == data.categorie_prefere %} selected {% endif %}>{{categorie.libelle_categorie}}</option>
      {% endfor %}
    </select>
    {% if slim.erreur.msgvalidCategorie %}<span style="display: inline-block;" class="alert alert-danger">{{slim.erreur.msgvalidCategorie}}</span>{% endif %}

    <label>Région</label>
    <select name="region" required>
      <option value="0">Tout</option>
      {% for region in regions %}
        <option value="{{region.id}}" {% if region.id == data.region_id %} selected {% endif %}>{{region.libelle_region}}</option>
      {% endfor %}
    </select>
    {% if slim.erreur.msgvalidRegion %}<span style="display: inline-block;" class="alert alert-danger">{{slim.erreur.msgvalidRegion}}</span>{% endif %}

    <label>Numéro de téléphone </label> 
    <input type="text" name="telephone" value="{% if data.id %}{{data.telephone}}{% else %}{{slim.datas.telephone}}{% endif %}" required/> 
    {% if slim.erreur.msgvalidTelephone %}<span style="display: inline-block;" class="alert alert-danger">{{slim.erreur.msgvalidTelephone}}</span>{% endif %}

    <label>Adresse email</label>
    <input type="text" name="email" value="{% if data.id %}{{data.email}}{% else %}{{slim.datas.email}}{% endif %}" required/> 
    {% if slim.erreur.msgvalidMail %}<span style="display: inline-block;" class="alert alert-danger">{{slim.erreur.msgvalidMail}}</span>{% endif %}


    <label>Prix (€)</label>
    <input type="text" name="prix" value="{{slim.datas.prix}}" required/> 
    {% if slim.erreur.msgvalidPrix %}<span style="display: inline-block;" class="alert alert-danger">{{slim.erreur.msgvalidPrix}}</span>{% endif %}


    <label>Images 1 (10 Mo maximum)</label>
    <input type="file" value="upload" name="image1" style="display: inline-block;"/>
    <input type="hidden" name="MAX_FILE_SIZE" value="10048576" /> 

    <label>Images 2 (10 Mo maximum)</label>
    <input type="file" value="upload" name="image2"/>
    <input type="hidden" name="MAX_FILE_SIZE" value="10048576" /> 

    <label>Images 3 (10 Mo maximum)</label>
    <input type="file" value="upload" name="image3"/>
    <input type="hidden" name="MAX_FILE_SIZE" value="10048576" /> 
    {% if slim.erreur.msgvalidImage %}<span style="display: inline-block;" class="alert alert-danger">{{slim.erreur.msgvalidImage}}</span>{% endif %}
   
    {% if not data.id %}
      <label>Mot de passe</label>
      <input type="password" name="password" required/> 
      {% if slim.erreur.msgvalidPassword %}<div style="display: inline-block;" class="alert alert-danger">{{slim.erreur.msgvalidPassword}}</div>{% endif %}
    {% endif %}

    <input type="hidden" name="csrf_token" value="{{csrftoken}}" />

    <input type="submit" class="btn btn-success submitConn" value="Enregistrer"/>
  </form>
  </div>
</span>
{% endblock %}