{% extends "main.html.twig" %}

{% block main_content %}

{% for ann in annonce %}
	
	<br/> 

	<span class="head-detail">
	            
	            {% if valide %}<div class="alert alert-success" role="alert">{{valide}}</div>{% endif %}
	            {% if notvalide %}<div class="alert alert-danger" role="alert">{{notvalide}}</div>{% endif %}
	            
	        
	        <span class="contenue-annonce-detail">
				<H1>Titre de l'annonce : {{ann.titre}}</H1>
				<span class="images-detail">
					{% set i = 0 %}
					{% for ph in photo %}
						{% if i == 0 %}
	    					<a class="zoombox zgallery1" href="../{{ph.url_photo}}"><img src="../{{ph.url_photo}}" class="grosseImg-detail"/></a>
						{% else %}
							<a class="zoombox zgallery1" href="../{{ph.url_photo}}"><img src="../{{ph.url_photo}}" class="petiteImg-detail"/></a>
						{% endif %}
						{% set i = i + 1 %}
					{% endfor %}
				</span>
				<h3>Description de l'annonce</h3>
				<span class="description-details">
					<span class="">
						<div class="jumbotron">
						  
						  <p>{{ann.descriptif}}</p>
						 
						</div>
						
					</span> 
					<span class="info-detail">
						<span class="categorie-detail">

							Categorie : {{ann.libelle_categorie}}
						</span><br/>
						<span class="categorie-detail">
							Région : {{ann.libelle_region}}
						</span><br/>

						<span class="prix-detail">
							Prix : {{ann.prix}} € <br />
						</span><br/>
						<span class="numTel-detail">
							Téléphone : {{ann.telephone}}
						</span>
					</span>
				    <span class="boutons-detail">
						{% if previsu %}
							<form action="/annonces/{{id}}" method="post"> 
								<input type="hidden" name="csrf_token" value="{{csrftoken}}" />
    							<input type="submit" name="validprevisu" class="btn btn-success" value="Valider l'annonce"/>
    						</form>
							<a class="btn btn-blue" href="/annonces/edit/{{id}}" class="modifAnnonce"> Modifier l'annonce</a>
						{% else %}
							<a class="btn btn-blue" href="/annonces/edit/{{id}}" class="modifAnnonce"> Modifier l'annonce</a>
                   			<a class="btn btn-danger" href="/annonces/delete/{{id}}"> Supprimer </a>
						{% endif %}
					</span>
				</span>
			</span>
	{% endfor %}
{% endblock %}