{% extends "main.html.twig" %}

{% block main_content %}
	{% if error != "" %}
	    <span class="alert alert-danger" style="float:left;width:98%">
			<p>{{error}}</p>
		</span>
	{% endif %}
	
	{% if formulaire == true %}

<span class="contenu last">
  <span class="contenuMilieu">

		<form method="POST" action="{{lien}}">
			<label>Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input name="mail" type="text" />
			</br>
			</br>

			<label>Password&nbsp;&nbsp;&nbsp;</label><input name="password" type="password"/>
			</br></br>
			<input type="hidden" name="csrf_token" value="{{csrftoken}}" />
			<input type="submit" class="btn btn-success">
			
			
		</form>

	</span>
</span>
	{% endif %}
	

{% endblock %}